:root {
  /* color */
  --color-white: #fff;
  --color-blac: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #ffff00;

  /* spacing */
  --spacing-medium: 20px;

  --font-size-header: 26px;
  
  /* fonts */
  --font-family-main: sans-serif;

  /* borders */
  --border-radius-small: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
}